<!DOCTYPE html>
<html {{site.language_attributes}}>
  <head>
  <meta charset="{{site.charset}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- wp header -->
  {{ function('wp_head') }}
  <!-- /wp header -->
  
  <style>
    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
    }
    .organic-social-icons a.icon {
      padding: 5px;
      background-color: rgba(92,92,92,0.15);
      border-radius: 100%;
      transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    .organic-social-icons a.icon:hover {
      padding: 5px;
      background-color: rgba(92,92,92,0.05);
    }
    #SearchNav .navbar-extend {
        position: relative;
        top: unset;
        left: unset;
        transform: none;
        width: 100%;
    }
    .organic-logo {
      padding: 0 15px 0 0
    }
    #MainNav .uk-navbar-nav>li>a {
        min-height: 60px;
        font-weight: bold;
        color: #fff;
        font-size: 1.1rem;
        text-transform: capitalize;
    }
    .megamenu {
        width: 100vw;
        margin-top: 0;
        left: 0!important;
        margin-left: calc(-100vw / 2 + 1420px / 2);
    }
    #ShopMegaMenu .uk-list>li>a {
      text-transform: capitalize;
      font-size: 1rem;
    }
    .come-back {
      top: auto!important;
    }
  </style>
  
  </head>
  
  <!-- body classes go here -->
  <body class="{{ body_class }}" data-template="base.twig">

    <!-- main site wrapper -->
    <div id="SiteWrapper" class="site-wrapper">
      
      <!-- header -->
      {% block header %}
      {% include 'header.twig' %}
      {% endblock %}
      <!-- /header -->
    
      <!-- content -->
      <main role="main" id="MainContent">
        {% block content %}
        <p>Sorry, Nothing to Display!!</p>
        {% endblock %}
      </main>
      <!-- /content -->

      <!-- footer -->
      {% block footer %}
      {% include 'footer.twig' %}
      {% endblock %}
      <!-- /footer -->

    </div>
    <!-- /main site wrapper -->
    
    <!-- wp footer -->
    {{ function('wp_footer') }}
    <!-- /wp footer -->
    
  </body>
  <!-- /body -->
</html>