{# 

woocommerce_before_main_content(shop-breadcrumbs.twig)
* @hooked woocommerce_output_content_wrapper - 10 - REMOVED
* @hooked woocommerce_breadcrumb - 20
* @hooked WC_Structured_Data::generate_website_data() - 30
* @HOOKED woocommerce_output_all_notices - 40 - MOVED HERE FROM woocommerce_before_shop_loop

woocommerce_archive_description
* @hooked woocommerce_taxonomy_archive_description - 10
* @hooked woocommerce_product_archive_description - 10

woocommerce_before_shop_loop(shop-toolbar.twig)
* @hooked woocommerce_output_all_notices - 10 - MOVED TO woocommerce_before_main_content
* @hooked woocommerce_result_count - 20
* @hooked woocommerce_catalog_ordering - 30 - MOVED TO 10

woocommerce_before_shop_loop_item(loop-products.twig > tease-products.twig)
* @hooked woocommerce_template_loop_product_link_open - 10 - REMOVED

woocommerce_before_shop_loop_item_title(loop-products.twig > tease-products.twig)
* @hooked woocommerce_show_product_loop_sale_flash - 10
* @hooked woocommerce_template_loop_product_thumbnail - 10 - REMOVED: outputting image html using twig instead

woocommerce_shop_loop_item_title(loop-products.twig > tease-products.twig)
* @hooked woocommerce_template_loop_product_title - 10 - REMOVED: outputting title html using twig instead, weird issue with titles when using default hook

woocommerce_after_shop_loop_item_title(loop-products.twig > tease-products.twig)
* @hooked woocommerce_template_loop_rating - 5
* @hooked woocommerce_template_loop_price - 10

woocommerce_after_shop_loop_item(loop-products.twig > tease-products.twig)
* @hooked woocommerce_template_loop_product_link_close - 5  - REMOVED
* @hooked woocommerce_template_loop_add_to_cart - 10

woocommerce_no_products_found(loop-products.twig)
* @hooked wc_no_products_found - 10

woocommerce_after_shop_loop(shop-pagination.twig)
* @hooked woocommerce_pagination - 10 -  see loop/pagaintion.php, this template renders default theme pagination.twig

woocommerce_after_main_content
* @hooked woocommerce_output_content_wrapper_end - 10 - REMOVED

#}

{% extends 'base.twig' %}
{% block content %}
<script>
jQuery( 'body' ).on( 'added_to_cart', function( e, fragments, cart_hash, this_button ) {
  var modal = UIkit.modal("#modal-cart");
  modal.show(); 
} );
</script>
<style>
</style>

<div id="modal-cart" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">The Cart</h2>
        <div class="uk-child-width-1-2" uk-grid>
          <div>
          product stuff
          </div>
          <div>
            {% do action('custom_mini_cart') %}
          </div>
        </div>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="button">Save</button>
        </p>
    </div>
</div>

{% do action('cart_ajax_result_count') %}
<div class="uk-section uk-section-small" data-template="woo-archive.twig">
  <div class="uk-container uk-container-large">
    <div class="uk-grid-large" uk-grid>
      {% include 'sidebar-shop.twig' %}
      <div id="MainProductArchive" class="uk-article uk-width-5-6@m">
        <div>
          
          {# 
          Actions:
          woocommerce_before_main_content
          * @hooked woocommerce_output_content_wrapper - 10 - REMOVED
          * @hooked woocommerce_breadcrumb - 20
          * @hooked WC_Structured_Data::generate_website_data() - 30
          * @HOOKED woocommerce_output_all_notices - 40 - MOVED HERE FROM woocommerce_before_shop_loop
          #}
          <div id="ShopBreadsNotices" class="uk-margin-bottom">
            {% do action('woocommerce_before_main_content') %}
          </div>
          
          <h1 id="ShopArchiveTitle" class="uk-article-title woocommerce-products-header__title page-title">
            {{ title }}
          </h1>
        
          {# 
          Actions:
          woocommerce_archive_description
          * @hooked woocommerce_taxonomy_archive_description - 10
          * @hooked woocommerce_product_archive_description - 10
          #}
          <div id="ShopArchiveDescription" class="uk-margin-bottom">
            {% do action('woocommerce_archive_description') %}
          </div>
          
          {# 
          Actions:
          woocommerce_before_shop_loop(shop-toolbar.twig)
          * @hooked woocommerce_output_all_notices - 10 - MOVED TO woocommerce_before_main_content
          * @hooked woocommerce_result_count - 20
          * @hooked woocommerce_catalog_ordering - 30 - MOVED TO 10
          #}
          <div id="ShopToolbar" class="uk-section uk-section-muted uk-padding-small uk-section-small uk-margin-bottom">
            <div class="uk-flex-middle" uk-grid>
              {% do action('woocommerce_before_shop_loop') %}
              <div id="GridList" class="uk-width-auto" uk-grid>
                {% if grid_list == 'list-view' %}
                  {% set list_active_class = 'uk-active' %}
                {% else %}
                  {% set list_active_class = 'not-active' %}
                {% endif %}
                {% if grid_list == 'grid-view' %}
                  {% set grid_active_class = 'uk-active' %}
                {% else %}
                  {% set grid_active_class = 'not-active' %}
                {% endif %}
                <div class="uk-width-auto">
                  <div class="uk-inline">
                    <div>
                      <a href="{{ function ('add_query_arg', 'grid_list', 'grid-view', '') }}" class="grid-toggle uk-button uk-button-primary {{ grid_active_class }}"><span uk-icon="grid"></span></a>
                    </div>
                  </div>
                  <div class="uk-inline">
                    <div>
                      <a href="{{ function ('add_query_arg', 'grid_list', 'list-view', '') }}" class="list-toggle uk-button uk-button-primary {{ list_active_class }}"><span uk-icon="icon: table; ratio: 1.1"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          {# 
          Actions:
          woocommerce_no_products_found - loop-products.twig
          * @hooked wc_no_products_found - 10
          #}

          <div id="ShopProducts" class="uk-margin-bottom">
            {% if grid_list == 'list-view' %}
              {% set grid_list_layout_class = 'uk-child-width-1-1@m' %}
            {% elseif grid_list == 'grid-view' or grid_list == '' %}
              {% set grid_list_layout_class = 'uk-child-width-1-4@m' %}
            {% endif %}
            <div id="ProductGrid" class="uk-child-width-1-1@s {{ grid_list_layout_class }}" uk-grid="masonry: true">
              {% for post in products %}
                {% if grid_list == 'list-view' %}
                  {% include ["tease-product-list.twig"] %}
                {% elseif grid_list == 'grid-view' %}
                  {% include ["tease-product.twig"] %}
                {% else %}
                  {% include ["tease-product.twig"] %}
                {% endif %}
              {% endfor %}
              {% if products is empty %}
                {% do action('woocommerce_no_products_found') %}
              {% endif %}
            </div>
          </div>
          
          {# 
          Actions:
          woocommerce_after_shop_loop(shop-pagination.twig)
          * @hooked woocommerce_pagination - 10 -  see loop/pagaintion.php, this template renders default theme pagination.twig
          #}

          <div id="ShopPagination">
            {% do action('woocommerce_after_shop_loop') %}
          </div>
          
          {% do action('woocommerce_after_main_content') %}
          
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock  %}